body {
	  background-image: url("library1.jpg");
	  background-repeat: no-repeat;
	//background-size: 1000px 1500px;
	}

#headdiv{

	Width : 380px;
	height : 50px;
	background-color : black;
	color : white;
	border-radius : 25px;
	padding-left : 4px; 
	align : center; 
}

#formdiv{

	Width : 360px;
	height : 800px;
	background-color : white;
	padding-left : 10px;
	border-radius : 25px;
}

#maindiv{

	Width : 420px;
	height : 900px;
	background-color : #003366;
	padding : 30px;
	border-radius : 25px;
	margin-left : 480px;

}


h5{

	font-family : arial;
	font-size : 15px;

}